<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="learn.example.pile">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>

    <application
        android:allowBackup="true"
        android:name="learn.example.pile.PileApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="learn.example.pile.AppGlideModule"
            android:value="GlideModule"/>
        <activity android:name=".activity.normal.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.normal.WebViewActivity"
                  android:process="learn.example.pile.PileApplication.WebActivity"
                  android:label=" "/>
        <activity android:name=".activity.normal.VideoActivity"
                  android:configChanges="orientation|screenSize"
                  android:label="视频"/>
        <activity android:name=".activity.normal.PhotoActivity"/>
        <activity android:name=".activity.normal.ChatActivity"
                  android:label="机器聊天"
                  android:windowSoftInputMode="adjustResize">
        </activity>
        <activity android:name=".activity.normal.ReaderActivity"/>
        <activity android:name=".activity.normal.ShortVideoActivity"/>
        <activity android:name=".activity.normal.DetailJokeActivity"
                  android:label="详细"/>
        <activity android:name=".activity.normal.CommentActivity"/>
    </application>

</manifest>